---
layout: full-width
title: The AI Bookshelf
# Note that this index page uses a full-width layout!
---

<table style="all:unset;">
  {% for post in site.posts %}
    <tr>
      <td style="text-align: center;padding: 5px;">
	<a href="{{post.bookurl}}">
  	  <img style="width:90px;height:120px" src="{{ post.imgurl | prepend: '/assets/img/' | prepend: site.baseurl }}"/>
	</a>
      </td>
      <td style="text-align: left;padding: 40px;">
  	  <a style="padding-bottom: 160px;" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.date | date: "%B %-d, %Y" }} - {{ post.title | escape }}
          </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- <h1 class="content-listing-header sans">The List of Books</h1> -->
  <!-- <ul class="content-listing " style="list-style-type:none"> -->
  <!--   {% for post in site.posts %} -->
  <!--       <li> -->
  <!--         <\!-- <hr class="slender"> -\-> -->
  <!-- 	  <img style="width:90px;height:120px" src="{{ post.imgurl | prepend: '/assets/img/' | prepend: site.baseurl }}"/> -->
  <!-- 	  <a style="padding-bottom: 160px;" href="{{ post.url | prepend: site.baseurl }}"> -->
  <!--           {{ post.date | date: "%B %-d, %Y" }} - {{ post.title | escape }} -->
  <!--         </a> -->
  <!--       </li> -->
  <!--   {% endfor %} -->
  <!-- </ul> -->
