<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                <a class="black-link" href="{{ site.url }}/about.html">
                  {{ site.author | escape }} 
                </a>
              {%- endif -%}
            </li>
	    {%- include social.html -%}
          </ul>
        </div>
      </div>
    </div>
  </footer>
