<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html %}
  <article>
        {% if page.toc %}
          <aside class="sidebar__right sticky">
            <nav class="toc">
              <header><h4 class="nav__title">{{ page.toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
            </nav>
          </aside>
        {% endif %}

      {{ content }}
    </article>
  {% include print-footer.html %}
  {% include footer.html %}
</html>
